@import "tailwindcss";

:root {
  --font-jura: 'Jura', sans-serif;
}

body {
  font-family: var(--font-jura, sans-serif);
}

@theme {
  --breakpoint-xs: 375px;
  --breakpoint-s: 414px;
  --breakpoint-2xl: 1280px;
  --breakpoint-3xl: 120rem;
}